<h1 class="text-3xl font-bold text-center" style="margin-bottom: 2%">
  Tv Shows List
</h1>
<hr style="margin-bottom: 2%" />
<!-- <router-outlet /> -->
<form #searchForm="ngForm" (ngSubmit)="buscar()">
  <div class="form-group">
    <button class="btn-primary" style="float: right">Search</button>
    <input
      class="form-control py-2"
      type="text"
      name="search"
      [(ngModel)]="search"
      placeholder="Search"
      style="color: black; float: right; width: 30%"
      (input)="buscar()"
    />
  </div>
  <button style="float: left" class="btn-primary" (click)="openModal()">
    Add New Tv Show
  </button>
</form>
<div class="container">
  <table class="table table-fixed">
    <thead>
      <tr>
        <th>Show Name</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
      @for (tvshow of show; track tvshow.id){
      <tr>
        <td>{{ tvshow.name }}</td>
        <td>
          @if (tvshow.favorite == true){
          <input
            type="checkbox"
            class="checkbox"
            checked
            (change)="unfavorite(tvshow.id, tvshow.name, tvshow.favorite)"
          />
          Favorite } @else{
          <input
            type="checkbox"
            class="checkbox"
            (change)="unfavorite(tvshow.id, tvshow.name, tvshow.favorite)"
          />
          Favorite }
          <button
            class="btn-danger"
            style="margin-left: 30%"
            (click)="delete(tvshow.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
